<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Reset Password for <%= email %></h1>

    <form>
    
        <label for='password'>Password</label>
        <input type='password' name='password' />
        <div class='password-error'>Use 8 or more characters with a mix of letters, numbers & symbols</div>

    </br>

        <label for='confirm_password'>Confirm</label>
        <input type='password' name='confirm_password' />
        <div class='cpassword-error'></div>

        </br></br>

        <button>Submit</button>

    </form>

    <script>

        const form = document.querySelector('form');
        const passwordError = document.querySelector('.password-error')
        const confirmPasswordError = document.querySelector('.cpassword-error')

        const email = '<%= email %>'
        const id = '<%= id %>'
        const token = '<%= token %>'
        console.log(email)
        console.log(id)
        console.log(token)

        function validatePassword(userInput) {
           
            const inputLength = userInput.length

            if(inputLength == 0){
                passwordError.textContent = 'Enter a password';
                return false
            }

            if(inputLength < 8 || inputLength > 20){
                passwordError.textContent = 'Length must be between 8 to 20 characters'
                return false;
            }

            return true;
        }

        function checkBothPassword(password, confirmPassword) {

            if(confirmPassword.length == 0){
                confirmPasswordError.textContent = 'Confirm your password'
                return false;
            }

            if(password === confirmPassword){
                console.log('password matched');
                return true;
            }
            confirmPasswordError.value = ''
            confirmPasswordError.textContent = 'Those passwords didn’t match. Try again.'
            return false;
        }


        form.addEventListener('submit', async (e) => {
            e.preventDefault();

            passwordError.textContent = '';
            confirmPasswordError.textContent = '';


            password = form.password.value;
            confirmPassword = form.confirm_password.value;

            console.log(password)
            console.log(confirmPassword)

            const id = '<%= id %>'
            const token = '<%= token %>'
            console.log(id)

            if(validatePassword(password)){
                if(checkBothPassword(password, confirmPassword)){
                    try{
                        const res = await fetch('/reset-password/id/token', {
                            method: 'POST',
                            body: JSON.stringify({ password , id, token }),
                            headers: { 'Content-Type' : 'application/json'}

                        })

                        const data = await res.json();
                        console.log(data);
                        
                        if(data.user) {
                            location.assign('/login')
                        }
                    } catch(err){
                        console.log('Error-')
                        console.log(err)
                    }
                }
            }

        })

    </script>


</body>
</html>